numpy==1.19.2
psutil==5.8.0
matplotlib==3.3.4
scipy==1.6.1
h5py==2.10.0
torchinfo==0.0.8
plotly==4.14.3
tqdm==4.56.0
pandas==1.2.3
seaborn==0.11.1
torch==1.8.0
jupyterthemes==0.20.0
ipython==7.23.1
PyYAML==5.4.1
scikit_learn==0.24.2
